header{
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
align-content: center;
align-items: center;
background: linear-gradient(to left, rgb(247, 0, 255), rgb(54, 24, 185));
color: white;
}

header img{
  /* margin: 50px; */
  width: 20%;
  margin-right: 50px;
  margin-left: 100px;
  padding: 20px;
}

.meme{
  width :50%
}