.aside {
  height: 88.5vh;
  background: white;
  min-width: 20%;
  display: flex;
  justify-content: center;
}

.aside__products {
  color: black;
  text-decoration: none;
  font-size: 25px;
  width: 100%;
}

.aside__names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.asideName__products {
  width: 100%;
  margin-top: 10px;
}
